h1{
    font-family:"Montserrat", sans-serif;
    text-align: center;
}

.navbar{
    width: 100%;
    padding: 4px;
    background-color:   #de0202f1;
    display: flex;
    flex-direction: row;
}

.logo{
    width: px;
    height: 90px;
}

p{
    font-family:"Montserrat", sans-serif;
    padding: 3px;
}

h2{
    font-family:"Montserrat", sans-serif;
    padding: 4px;
}